<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="HiNet">
        <meta name="keywords" content="">
        <meta name="author" content="Jensyn">
        <title>HiNet</title>
        <!-- Bootstrap core CSS -->
        <link href="./assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Bootstrap core CSS -->
        <link href="./assets/plugins/bs3/bootstrap.min.css" rel="stylesheet">
        <!-- Optional Bootstrap Theme -->
        <link href="data:text/css;charset=utf-8," data-href="./assets/plugins/bs3/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
        <link href="./assets/css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="./assets/plugins/bs3/ie8-responsive-file-warning.js">
            </script>
        <![endif]-->
        <script src="./assets/plugins/bs3/ie-emulation-modes-warning.js">
        </script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
        queries -->
        <!--[if lt IE 9]>
            <script src="./assets/plugins/bs3/html5shiv.min.js">
            </script>
            <script src="./assets/plugins/bs3/respond.min.js">
            </script>
        <![endif]-->
        <!-- Favicons -->
        <link rel="apple-touch-icon" href="">
        <link rel="icon" href="">
    </head>
    <body>
        <header class="home-header">
            <div class="logo"></div>
            <form class="search-form">
                <div class="row row-no-margin">
                    <div class="col-xs-offset-3 col-xs-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="搜索学者，论文，期刊，机构...">
                            <span class="input-group-btn">
                                <a href="search.html" class="btn btn-default btn-search"><i class="fa fa-search"></i></a>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </form>
            <div id="particles-js"></div>
        </header>
        
        <section class="row row-no-margin statistic-wrapper">
            <div class="col-xs-offset-2 col-xs-8">
                <legend>节点数据</legend>
                <ul class="statistic-list">
                    <li>
                        <h1>1,712,433</h1>
                        <p>学者</p>
                        <a href="expert_rank.html" class="mask">
                            <span class="align-vcenter">
                                <i class="fa fa-sort-numeric-asc"></i> 查看学者排名
                            </span>
                        </a>
                    </li>
                    <li>
                        <h1>2,092,356</h1>
                        <p>论文</p>
                        <a href="paper_rank.html" class="mask">
                            <span class="align-vcenter">
                                <i class="fa fa-sort-numeric-asc"></i> 查看论文排名
                            </span>
                        </a>
                    </li>
                    <li>
                        <h1>260,248</h1>
                        <p>期刊</p>
                        <a href="venue_rank.html" class="mask">
                            <span class="align-vcenter">
                                <i class="fa fa-sort-numeric-asc"></i> 查看期刊排名
                            </span>
                        </a>
                    </li>
                    <li>
                        <h1>85,354</h1>
                        <p>机构</p>
                        <a href="org_rank.html" class="mask">
                            <span class="align-vcenter">
                                <i class="fa fa-sort-numeric-asc"></i> 查看机构排名
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="row row-no-margin statistic-wrapper">
            <div class="col-xs-offset-2 col-xs-8">
                <legend>关系数据</legend>
                <ul class="statistic-list">
                    <li>
                        <h1>8,024,867</h1>
                        <p>引用</p>
                    </li>
                    <li>
                        <h1>4,258,946</h1>
                        <p>合作</p>
                    </li>
                    <li>
                        <h1>2,092,218</h1>
                        <p>发表</p>
                    </li>
                    <li>
                        <h1>2,494,589</h1>
                        <p>聘用</p>
                    </li>
                </ul>
            </div>
        </section>
            
        <footer>
            <p>Powered By. 林达意</p>
            <p>Copyright &copy; 2015 All Right Reserved.</p>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="./assets/js/jquery.min.js"></script>
        <script src="./assets/plugins/bs3/bootstrap.min.js"></script>
        
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="./assets/plugins/bs3/ie10-viewport-bug-workaround.js"></script>
        
        <!-- baidu echarts plugins -->
        <script src="./assets/plugins/particles-js/particles.js"></script>
        <script src="./assets/js/app.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {

            });
        </script>
    </body>
</html>